@font-face {
  font-family: "Streamster";
  src: url("../fonts/Streamster.ttf"); /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: "Lazer84";
  src: url("../fonts/Lazer84.ttf"); /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: "SFAlienEncounters";
  src: url("../fonts/SFAlienEncounters.ttf"); /* TTF file for CSS3 browsers */
}

body {
  margin: -21px 0px -21px 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: "Lazer84";
  background-color: black;
}

.background-image {
  background: url("../images/img2.jpeg");
  position: fixed;
  background-position-y: 40%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 100%;
  filter: grayscale(0%) blur(0px) brightness(0%);
  overflow: hidden;
  /*animation: gameOverFade 15s 1;*/
}

@keyframes gameOverFade {
  0% {
    filter: brightness(100%);
  }
  5% {
    filter: brightness(1000%);
  }

  30% {
    filter: brightness(100%);
  }
  70% {
    filter: brightness(0%);
  }
  100% {
    filter: brightness(0);
  }
}

.game-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.headline {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0;
  background: linear-gradient(330deg, #10f8fc 0%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px -7px 1px white;
}

.guess-display {
  font-family: "Streamster";
  font-size: 60px;
  color: #ff073a;
  text-shadow: 0em 0em 0.5em #d3002b;
  padding: 2rem 0rem;
  margin-bottom: -1rem;
}

.end-message {
  font-size: 80px;
  margin: 2rem 0rem;
  position: relative;
  bottom: 9.5rem;
}

.click-to-play {
  font-family: "SFAlienEncounters";
  font-size: 85px;
  color: #15f2ff;
  text-shadow: 0em 0em 0.5em #00cbd4;
  position: relative;
  bottom: 11.5rem;
}

a {
  text-decoration: none;
}
